node_modules

#Hardhat files
cache
artifacts
.vscode

.env
yarn-error.log

#Buidler files
bin

#coverage
coverage
coverage.json
.coverage_cache
.coverage_contracts
.coverage_artifacts

miner*.json
.DS_Store
.DS_Store?
.openzeppelin
deploy
yarn.lock
.solhint.json
.solhintignore
.mocharc.json
